---
import '@picocss/pico'
import Grid from '../components/Grid.svelte';
import Modal from '../components/Modal.svelte';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/snake-icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Snake</title>
	</head>
	<body>
		<Grid client:load />
		<Modal client:load />
		<Footer />
	</body>
</html>

<style>
	body {
		background-color: #2c3e50;
		display: grid;
		place-items: center;
		height: 100dvh;
		grid-template-rows: 1fr auto;
		overscroll-behavior: contain;
	}

	:global(*) {
		margin: 0 !important;
	}
</style>